body {
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

header {
  margin-bottom: 80px;
}

footer {
  position: fixed;
  bottom: 20px;
}

#snippetscard {
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#snippetscard pre {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0px;
  overflow: auto;
  font-size: 13px;
  line-height: 19px;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#snippetsgrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}