<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="./">Snippets</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link nav-item" href="./">Home</a>
        <a class="nav-link nav-item" href="./snippets">Snippets</a>
        <a class="nav-link nav-item" href="./snippets/create">Create snippet</a>
        <a class="nav-link nav-item" href="./users/login">Login</a>
        <a class="nav-link nav-item" href="./users/register">Register</a>
      </div>
    </div>
  </nav>
</header>