<h1>Create a new code snippet!</h1>
<form action="./snippets/create" method="POST">
  <div class="form-group">
    <label for="language">Language</label>
    <input name="language" type="text" class="form-control" id="language" placeholder="Enter a language...">
  </div>
  <div class="mt-2 form-group">
    <label for="codearea">Code</label>
    <textarea name="code" class="form-control" id="codearea" rows="3" placeholder="Write your code here..."></textarea>
  </div>
  <button type="submit" class="mt-2 btn btn-primary">Submit snippet</button>
</form>