<h1>Home</h1>
<h2>
  CRUD
</h2>
<p>
  From Wikipedia, the free encyclopedia. "CRUD" redirects here. For other uses, see Crud.
  In computer programming, create, read, update, and delete (CRUD) are the four basic operations of persistent
  storage. CRUD is also sometimes used to describe user interface conventions that facilitate viewing, searching, and
  changing information using computer-based forms and reports. The term was likely first popularized by James Martin in
  his 1983 book Managing the Data-base environment.
</p>
<h2>
  Snippets (Programming)
</h2>
<p>
  From Wikipedia, the free encyclopedia. Snippet is a programming term for a small region of re-usable source code,
  machine code, or text. Ordinarily, these
  are formally defined operative units to incorporate into larger programming modules. Snippet management is a feature
  of some text editors, program source code editors, IDEs, and related software. It allows the user to avoid repetitive
  typing in the course of routine edit operations.
</p>