<% if(viewData.username) { %>
<h2>Hello <%- viewData.username %></h2>
<form method="POST" action="./users/logout">
  <button class="btn btn-danger">Logout</button>
</form>
<form method="POST" action="./users/delete">
  <button class="btn btn-danger">Remove account</button>
</form>
<% } %>
<% if (!viewData.username) { %>
<h2>Would you like to login or register?</h2>
<h4>(An account is needed to create snippets)</h4>
<div class="btn-group" role="group">
  <a class="btn btn-primary" href="./users/login">Login</a>
  <a class="btn btn-primary" href="./users/register">Register</a>
</div>
<% } %>