<h1>Register!</h1>
<form action="./users/register" method="POST">
  <label class="form-label" for="username">Username</label>
  <input required name="username" type="text" class="form-control" id="username" placeholder="Enter a username...">
  <label for="language">Password</label>
  <input required name="password" type="password" class="form-control" id="password" placeholder="Enter a password...">
  <button type="submit" class="mt-2 btn btn-primary">Login</button>
</form>